/* .App {
  text-align: center;
} */


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.moduleOneImage {
  border-radius: 50%;
}

.module-one-div {
  padding: 5% 0;
}
.nav-ul {
  color:white;
}

.navbar-bg {
  background: black !important;
}

.jumbo-format {
  padding: 15% 0 20% 0;
  background: black;
  color: white;
  kerning: 1%;
  border-radius: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
