.container-fluid {
  padding: 0;
}


.moduleOneImage {
  border-radius: 50%;
}

.module-one-div {
  padding: 5% 0;
  width: 75%;
  margin: 0 auto;
}
.nav-ul {
  color: #7d7d7d;
  font-size: .5em;
  list-style: none !important;
}

.nav-ul li{
  display: inline-block !important;
}

.navbar-bg {
  background: black !important;
}

.jumbo-format {
  padding: 15% 0 0 0;
  background: black;
  color: white;
  border-radius: 0;
}

.jumboh1 {
  letter-spacing: 6px;
  font-size: 3rem;
  font-weight: bolder;
}

.scroll {
  padding: 15% 0 3% 0;
}

.scroll a {
  text-decoration: none;
  color: white;
  font-size: .5em;
}

.square {
  background: black;
  width: 400px;
  height: 270px;
}

.learn-more-link {
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-size: .7em;
}

.learn-span {
  padding-bottom:1px;
  border-bottom: 1px solid black;
}

.text-section-1 {
  padding: 63px 0 45px 125px;
}

.text-section-2 {
  padding: 63px 125px 45px 25px;
  text-align: right;
}

.module-p{
  font-size: .7em;
  color: #7d7d7d;
}

.module-title {
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: bolder;
}

.row .module-2-h5 {
  text-align: right !important;
}

.div-block {
  background: black;
  padding: 10%;
}

.text-block {
  margin: 0 auto;
  width: 75%;
}

.div-block-title {
  color: #bea67c;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: bolder;
}

.div-block-p {
  color: white;
  font-size: .7em;
  width: 50%;
  padding-top: 2%;
}

.rectangle {
  border: 2px solid #bea67c;
  height: 25px;
  width: 200px;
}

.footer-text {
  font-size: .7em;
  color: #7d7d7d;
  text-align: center;
  padding: 1%;
  margin-top: 5%;
}

.footer-div {
  background: black !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
